{
    "cluster": "CLUSTER_NAME",
    "serviceName": "product-service",
    "taskDefinition": "product-micro-service:PRODUCT_TASKDEF_REVISION",
    "availabilityZoneRebalancing": "ENABLED",
    "serviceRegistries": [
      {
      "registryArn": "arn:aws:servicediscovery:us-west-2:ACCOUNT_ID:service/CLOUDMAP_SERVICE_ID"
      }
    ],
    "desiredCount": 1,
    "launchType": "EC2",
    "capacityProviderStrategy": [],
    "deploymentConfiguration": {
        "deploymentCircuitBreaker": {
            "enable": false,
            "rollback": false
        },
        "maximumPercent": 200,
        "minimumHealthyPercent": 100
    },
    "placementConstraints": [],
    "placementStrategy": [
        {
            "type": "spread",
            "field": "attribute:ecs.availability-zone"
        },
        {
            "type": "spread",
            "field": "instanceId"
        }
    ],
    "networkConfiguration": {
        "awsvpcConfiguration": {
            "subnets": [
              "SUBNET1",
              "SUBNET2",
              "SUBNET3"
            ],
            "securityGroups": [
                "SECURITY_GROUP_ID"
            ],
            "assignPublicIp": "DISABLED"
        }
    },
    "healthCheckGracePeriodSeconds": 0,
    "schedulingStrategy": "REPLICA",
    "deploymentController": {
        "type": "ECS"
    },
    "enableECSManagedTags": true,
    "propagateTags": "NONE",
    "enableExecuteCommand": false
}
