{
    "cluster": "CLUSTER_NAME",
    "serviceName": "product-lattice-service",
    "taskDefinition": "product-micro-service:PRODUCT_TASKDEF_LATTICE_REVISION",
    "availabilityZoneRebalancing": "ENABLED",
    "desiredCount": 1,
    "launchType": "EC2",
    "capacityProviderStrategy": [],
    "deploymentConfiguration": {
        "deploymentCircuitBreaker": {
            "enable": false,
            "rollback": false
        },
        "maximumPercent": 200,
        "minimumHealthyPercent": 100
    },
    "placementStrategy": [
        {
            "type": "spread",
            "field": "attribute:ecs.availability-zone"
        },
        {
            "type": "spread",
            "field": "instanceId"
        }
    ],
    "networkConfiguration": {
        "awsvpcConfiguration": {
            "subnets": [
              "SUBNET1",
              "SUBNET2",
              "SUBNET3"
            ],
            "securityGroups": [
                "SECURITY_GROUP_ID"
            ],
            "assignPublicIp": "DISABLED"
        }
    },
    "healthCheckGracePeriodSeconds": 0,
    "schedulingStrategy": "REPLICA",
    "deploymentController": {
        "type": "ECS"
    },
    "enableECSManagedTags": true,
    "propagateTags": "NONE",
    "enableExecuteCommand": false,
    "vpcLatticeConfigurations": [
    {
      "roleArn": "arn:aws:iam::ACCOUNT_ID:role/ecsLatticeRole",
      "targetGroupArn": "arn:aws:vpc-lattice:us-west-2:ACCOUNT_ID:targetgroup/LATTICE_PRODUCT_TG_ID",
      "portName": "product-ms-tcp-5000"
    }
  ]
}